.vscode
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4/
missing
src/Makefile
src/Makefile.in
src/evdevtest
*.o
stamp-h1
test/.libs/
test/Makefile
test/Makefile.in
test/gtest
test/gtest-test_main.o
test/libgmock.la
test/libgtest.la
